@using azot_proj1.Models
@model List<QueryResultModel>


<div>
    <table border="1" align="left">
        <tr>
            <th>Датчик</th>
            <th>Зафиксированное значение</th>
            <th>Время нарушения</th>
            <th>Время окончания нарушения</th>
        </tr>
        @foreach (azot_proj1.Models.QueryResultModel d in Model)
    {
        <tr>
            <td> @d.sensor_name</td>
            <td>@d.warning_time</td>
            <td>@d.warning_time_end</td>
            <td>@d.dangerous_value</td>
        </tr>}

    </table>
</div>


